Header set Access-Control-Allow-Origin "*"
Header set Access-Control-Allow-Methods "GET,PUT,POST,DELETE"
Header set Access-Control-Allow-Headers "Content-Type, Authorization"

RewriteEngine On

RewriteCond %{HTTP_HOST} ^gobbler.one [NC]

RewriteRule ^(.*)$ http://www.yourdomain.one/$1 [L,R=301]